[mysqld]
bind-address = 0.0.0.0

# InnoDB配置
innodb_buffer_pool_size = 1G
innodb_log_file_size = 256M
innodb_log_buffer_size = 8M
innodb_flush_log_at_trx_commit = 2
innodb_flush_method = O_DIRECT
innodb_file_per_table = 1

# 查询缓存配置
query_cache_type = 1
query_cache_size = 64M
query_cache_limit = 2M

# 连接和线程配置
max_connections = 1000
thread_cache_size = 128

# 其他优化参数
tmp_table_size = 64M
max_heap_table_size = 64M
key_buffer_size = 32M